{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title%} TechTweet {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <style>
    .hidden {
      display: none;
    }

    .fade-in {
      animation: fadeIn 0.4s ease-in-out;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .whatIsHappening input {
      outline: none;
      user-select: text;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
  </style>
  <body class="h-full bg-white text-black">
    <!-- <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-xl font-bold">TechTweet</a>

        <button
          id="mobile-menu-button"
          class="md:hidden text-white focus:outline-none"
        >
          <svg
            class="h-6 w-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>

        
        <div class="hidden md:flex space-x-4 px-4">
          <a href="#" class="text-white hover:text-gray-300">Home</a>
          <a href="#" class="text-white hover:text-gray-300">About</a>
          <a href="#" class="text-white hover:text-gray-300">Contact Us</a>
          {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="text-white">Sign out</button>
        </form>
        {% else %}
        <a href="{% url 'register' %}" class="text-white">Sign up</a>
        <a href="{% url 'login' %}" class="text-white">Sign in</a>
        {% endif %}
        </div>
      </div>


      <div id="mobile-menu" class="md:hidden hidden mt-2">
        <a href="#" class="block text-white py-2 hover:bg-gray-700">Home</a>
        <a href="#" class="block text-white py-2 hover:bg-gray-700">About</a>
        <a href="#" class="block text-white py-2 hover:bg-gray-700"
          >Contact Us</a
        >
      </div>
    </nav> -->

    <!-- <script>
      document
        .getElementById("mobile-menu-button")
        .addEventListener("click", function () {
          var mobileMenu = document.getElementById("mobile-menu");
          mobileMenu.classList.toggle("hidden");
        });
    </script> -->

    {% block content %} {% endblock %}
  </body>

  <script>
    function toggleLogoutOption() {
      const logoutOption = document.getElementById("logoutOption");
      if (logoutOption.classList.contains("hidden")) {
        logoutOption.classList.remove("hidden");
        logoutOption.classList.add("fade-in");
      } else {
        logoutOption.classList.add("hidden");
        logoutOption.classList.remove("fade-in");
      }
    }

    document
      .getElementById("togglePassword")
      .addEventListener("click", function () {
        const passwordField = document.getElementById("password");
        const type =
          passwordField.getAttribute("type") === "password"
            ? "text"
            : "password";
        passwordField.setAttribute("type", type);

        const togglePasswordIcon = document.getElementById("togglePassword");
        if (type === "text") {
          togglePasswordIcon.innerHTML = `
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute right-2 top-1/2 transform -translate-y-1/2 h-6 w-6 text-gray-500 cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 4l16 16"
          />
        </svg>
      `;
        } else {
          togglePasswordIcon.innerHTML = `
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute right-2 top-1/2 transform -translate-y-1/2 h-6 w-6 text-gray-500 cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
          />
        </svg>
      `;
        }
      });
      
  </script>
</html>
